body
{margin:40px;
}
body {
background-color: #fcfcfc;
}
.titulo{
	border-width: thin;
	color: #764e36;
	font-weight: bolder;
        font-size: xx-large;
}
.paragrafo{
    border-bottom: medium;
    background: #764e36;
    color: #fff;
    font-size: x-large;
    font-weight: 900;
}
